header, nav,main,footer,figure,section,aside{ display: block;}
/********************************************************************************/		
/*  styles for all pages*/
/********************************************************************************/

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');
body{ 
    background-color: #000000;
    color: #ffffff;
    font-family: 'Inconsolata', monospace;
}
header{
	height: 120px;
}
header nav {
	float: right;
	}
header h1 {	
	float: left;
	margin-top: 25px;
}
header nav ul li {
	display: inline-block;
	margin-top: 25px;
	
}
header nav ul li a {
	color: #0099cc;
	text-transform: uppercase;
	font-weight: bold;
	margin-right: 20px;
}

header h1 .color {
	color: #02b8dd;
}
main{ 
	width: 900px;
	margin-right: auto;
    margin-left: auto;
	padding-bottom:20px;
	padding-top:20px;
	}
	
section{ 
	width: 850px;
	margin-right: auto;
    margin-left: auto;
	padding-bottom:20px;
	padding-top:20px;
}

 article{ 
	width: 100%;
	margin-right: auto;
    margin-left: auto;
	float:left;
	text-align:left;
	margin-bottom:20px;
	margin-top:20px;
	Padding: 10px;
	border: 1px solid #D8D8D8;
	background-color: "white";
}

h2 {
	display: block;
	margin: 0 auto 20px auto;
	width: 800px;
	border-bottom: 1px solid #02b8dd;
	padding: 0 0 20px 0;
}
.img-paragraph {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.img-paragraph.left img {
  margin-right: 550px;
}

.img-paragraph.right {
  flex-direction: row-reverse;
}
.img-paragraph.right img {
  margin-left: 550px;
}

.img-paragraph img {
  width: 120px;
  height: auto;
  border-radius: 8px;
}
p {
	line-height: 20px;
	margin-bottom: 20px;
	text-align:center;
}

figure {
	background-color: #f8fafa;
	float: centre;
	width: 70%;
	text-align: center;
	font-style: italic;
	border: thin silver solid;
	margin: auto;
	}
	
footer{ 
	background-color: #f8fafa;
	margin-right: auto;
    margin-left: 25px;
	border: thin silver solid;
	Padding:25px;
}

a {
	text-decoration: none;
	color: #444;
}

a:hover {
	color: #02b8dd;
}
:root {
  --side-width: 500px; /* adjust to match your side images' displayed width */
}

/* ensure fixed side images have a consistent width */
.side-image {
  width: var(--side-width);
  max-height: 80vh;
  z-index: 2;
}

/* main content wrapper that leaves room for the side images */
.content {
  max-width: 900px;
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 100px;
  box-sizing: border-box;
  position: relative;
  z-index: 1; /* behind the side images */
}

/* collapse the extra padding on small screens where side images are hidden */
@media (max-width: 1000px) {
  .content {
    padding-left: 16px;
    padding-right: 16px;
  }
}


/********************************************************************************/		
/*  styles for HOME page*/
/********************************************************************************/
